:root {
  --main-color: #757575;
  --second-text-color: #212121;
  --accent-color: #2196F3;
  --main-bg: #FFFFFF;
  --second-bg: #C4C4C4;
  --third-bg: #F5F4FA;
  --hero-foot-bg: #FFFFFF;
  --foot-text-color: rgba(255, 255, 255, 0.6);
  --trans-dur: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--main-bg);
  color: var(--main-color);
}

.header {
  background-color: var(--main-bg);
  border-bottom: 1px solid #ECECEC;
}

.header__nav {
  align-self: center;
}

.link {
  text-decoration: none;
  list-style-type: none;
}

.menu__item {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition: color var(--trans-dur) var(--transition-timing-function);
  position: relative;
}
.menu__item:hover, .menu__item:focus {
  color: var(--accent-color);
}

.menu__item.current {
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
  border-radius: 2px;
  bottom: 0;
}

.header__contact {
  display: flex;
  justify-content: space-between;
}

.header__nav {
  display: flex;
}

.menu {
  display: flex;
  align-items: center;
}

.contact {
  display: flex;
  align-items: center;
}

.contact__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration: none;
  transition: color var(--trans-dur) var(--transition-timing-function);
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
  fill: currentColor;
}

.contact__item {
  display: flex;
  align-items: center;
}

.contact .contact__item:not(:last-child) {
  margin-right: 50px;
}

.menu .menu__nav:not(:last-child) {
  margin-right: 50px;
}

.header__nav .logo {
  margin-right: 93px;
}

/*.contactt {
    padding-top: 32px;
    padding-bottom: 32px;
    @include font(14px, 1.14, 500, 0.02em);
    color: var(--main-color);
    text-decoration: none;
    transition: color var(--trans-dur) var(--transition-timing-function);
    &:hover,
    &:focus {
        color: var(--accent-color);
        fill: currentColor;
    }
}*/
.contact__svg {
  margin-right: 10px;
  fill: currentColor;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-family: "Raleway";
}

.logo__web {
  color: var(--accent-color);
}

.logo--color-light {
  color: white;
}

.logo--color-dark {
  color: #000000;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-bg.jpg);
  background-color: var(--second-bg);
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  text-align: center;
  background-repeat: no-repeat;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--main-bg);
  text-align: center;
  text-transform: uppercase;
}

.hero__button {
  border-radius: 4px;
  width: 217px;
  height: 50px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-bg);
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms linear, visibility 300ms linear;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms linear;
  width: 528px;
  min-height: 581px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-text-color);
  margin-bottom: 12px;
}

.modal-field {
  margin-top: 10px;
}

.modal-input {
  margin-top: 4px;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  font-size: 18px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-color);
}

.form-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .form-icon {
  fill: #2196F3;
}

.form-icon-name {
  width: 12px;
  height: 12px;
}

.form-icon-phone {
  width: 13px;
  height: 13px;
}

.form-icon-envelope {
  width: 15px;
  height: 12px;
}

.input-block {
  position: relative;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-textarea {
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: var(--accent-color);
}
.modal-textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: auto;
}

.form-checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
}

.form-checkbox span {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-checkbox:checked + .form-checkbox span {
  background-color: var(--accent-color);
  fill: var(--hero-foot-bg);
  border: none;
}
.input-checkbox:focus + .form-checkbox span {
  border-color: var(--accent-color);
}

.button-form {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--hero-foot-bg);
}

.button-form-block {
  margin-top: 30px;
  text-align: center;
}

.input-checkbox {
  margin-top: 20px;
  margin-right: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.lcens-link {
  margin-left: 4px;
  color: var(--accent-color);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-button {
  position: absolute;
  background-color: transparent;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.modal-button:focus, .modal-button:hover {
  fill: var(--accent-color);
}

.benefits {
  background-color: var(--main-bg);
}

.benefits__section {
  padding-bottom: 0;
}

.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.benefits__icon {
  display: flex;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  justify-content: center;
  border-radius: 4px;
}

.benefits__item {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.benefits__list {
  display: flex;
  list-style-type: none;
}

.benefits__block {
  width: 270px;
}
.benefits__block:not(:last-child) {
  margin-right: 30px;
}

.example-work {
  text-align: center;
  background-color: var(--main-bg);
}

.example-work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.example-work__list {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  list-style-type: none;
}

.example-work__box {
  position: relative;
}

.example-work__block {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
}

.examle-work__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-foot-bg);
}

.our-team {
  background-color: var(--third-bg);
  text-align: center;
}

.our-team-list {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  list-style-type: none;
}

.our-team-title {
  display: inline-block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.our-team-card {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.our-team-item {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.our-team-block {
  padding-top: 30px;
  padding-bottom: 16px;
}

.our-team-svg-blok {
  padding-bottom: 30px;
}

.team-svg-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  height: 44px;
  width: 206px;
  margin-left: 32px;
}

.team-svg-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.team-svg-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #AFB1B8;
  transition: background-color var(--trans-dur) var(--transition-timing-function), fill var(--trans-dur) var(--transition-timing-function);
}
.team-svg-link:hover, .team-svg-link:focus {
  background-color: var(--accent-color);
}
.team-svg-link:hover, .team-svg-link:focus {
  fill: #FFFFFF;
}

.regular-customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  text-align: center;
}

.regular-customers-list {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-top: 50px;
}

.regular-customers-item {
  width: calc((100% - 150px) / 6);
  height: 92px;
}

.regular-customer-link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border var(--trans-dur) var(--transition-timing-function), border-radius var(--trans-dur) var(--transition-timing-function), fill var(--trans-dur) var(--transition-timing-function);
}
.regular-customer-link:hover {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.regular-customer-svg {
  fill: #afb1b8;
  transition: fill var(--trans-dur) var(--transition-timing-function);
}
.regular-customer-link:hover .regular-customer-svg, .regular-customer-link:focus .regular-customer-svg {
  fill: var(--accent-color);
}

.portfolio-list-btn {
  display: flex;
  justify-content: center;
}

.portfolio-btn {
  padding: 6px 22px;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  border: 0;
  background-color: var(--third-bg);
  cursor: pointer;
  transition: background-color var(--trans-dur) var(--transition-timing-function), color var(--trans-dur) var(--transition-timing-function), box-shadow var(--trans-dur) var(--transition-timing-function);
}
.portfolio-btn:hover, .portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--main-bg);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-bt-item {
  list-style-type: none;
}

.portfolio-list-btn .portfolio-bt-list:not(:last-child) {
  margin-right: 8px;
}

.portfolio {
  background-color: var(--main-bg);
}

.portfolio-list {
  margin-bottom: 50px;
  gap: 8px;
}

.portfolio-img-block {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform var(--trans-dur) var(--transition-timing-function);
  padding: 63px 24px;
}

.portfolio-overlay-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--hero-foot-bg);
}

.portfolio-href {
  text-decoration: none;
  color: var(--main-color);
  transition: box-shadow var(--trans-dur) var(--transition-timing-function);
}
.portfolio-href:hover .portfolio-overlay, .portfolio-href:focus .portfolio-overlay {
  transform: translateY(0);
}
.portfolio-href:hover, .portfolio-href:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  display: block;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}

.portfolio-item {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.example {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.example .portfolio-element {
  flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #EEEEEE;
  list-style-type: none;
}

.img-name {
  padding: 20px 24px;
}

.foot-block {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.foot {
  gap: 70px;
}

.foot-contact-block {
  margin-right: 94px;
}

.foot {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.address-location {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  white-space: nowrap;
  display: inline-block;
  margin-top: 20px;
  color: var(--hero-foot-bg);
  transition: color var(--trans-dur) var(--transition-timing-function);
}
.address-location:hover, .address-location:focus {
  color: var(--accent-color);
}

.foot-contact {
  list-style-type: none;
  font-style: normal;
}

.contacts-foot {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-top: 9px;
  color: var(--foot-text-color);
  text-decoration: none;
  transition: color var(--trans-dur) var(--transition-timing-function);
}
.contacts-foot:hover, .contacts-foot:focus {
  color: var(--accent-color);
}

.foot-mailing-block {
  margin-left: 93px;
}

.foot-social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--hero-foot-bg);
}

.foot-social-list {
  display: flex;
  list-style-type: none;
  gap: 10px;
  height: 44px;
  width: 206px;
}

.foot-social-svg {
  fill: #FFFFFF;
}

.foot-social-item {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.foot-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--trans-dur) var(--transition-timing-function);
}
.foot-social-link:hover, .foot-social-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.foot-form-block {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.foot-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
  color: #FFFFFF;
  padding-left: 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-input:focus {
  border: 2px solid var(--main-bg);
}
.foot-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.foot-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.foot-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.foot-email-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-foot-bg);
}

.foot-button {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.foot-send-svg {
  fill: #FFFFFF;
}/*# sourceMappingURL=main.css.map */