.benefits {
    background-color: var(--main-bg);
}

.benefits__section {
    padding-bottom: 0;
}

.benefits__title {
    @include font(14px, 1.14, 700, 0.03em);
    text-transform: uppercase;
    color: var(--second-text-color);
}

.benefits__icon {
    @include flex;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    justify-content: center;
    border-radius: 4px;
}



.benefits__item {
    margin-top: 10px;
    @include font(14px, 1.71, null, 0.03em);
}

.benefits__list {

    display: flex;
    list-style-type: none;
}

.benefits__block {
    width: 270px;
    &:not(:last-child) {
        margin-right: 30px;
    }
}

