.header {
    position: relative;
    
    background-color: var(--main-bg);
    border-bottom: 1px solid #ECECEC;
    @media screen and (min-width:768px) {
        display: flex;
        align-items: center;
        height: 80px;
    }
}

.header__nav {
    display: flex;
    align-items: baseline;
}


.link {
    text-decoration: none;
    list-style-type: none;
}

.menu__item {
    padding-top: 32px;
    padding-bottom: 32px;
    @include font(14px, 1.14, 500, 0.02em);
    color: var(--second-text-color);
    transition: color var(--trans-dur) var(--transition-timing-function);
    position: relative;
    &:hover,
    &:focus {
        color: var(--accent-color)
    }
}



.menu__item.current {
    color: var(--accent-color);
}

.current::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: currentColor;
    border-radius: 2px;
    bottom: 0;
    @media screen and (min-width:768px) {
        bottom: 4px;
    }
    /*@media screen and (min-width:1200px) {
            bottom: 0;
    }*/

}

.header__contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

}

/*.header__contact:not(:first-child){
    gap: 114px;
}*/



.menu {
    @include flex;
    display: none;
    @media screen and (min-width:768px) {
       display:flex;
    }
}

.contact {
    /*@include flex;*/
    display: none;
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    @media screen and (min-width:1200px) {
        flex-wrap: nowrap;
            gap: 40px;
    }
}



.contact__link {
    @include flex;
    /*padding-top: 32px;
    padding-bottom: 32px;*/
    @include font(14px, 1.14, 500, 0.02em);
    color: var(--main-color);
    text-decoration: none;
    transition: color var(--trans-dur) var(--transition-timing-function);
        
    &:hover,
    &:focus {
        color: var(--accent-color);
        fill: currentColor;
    }
}

.contact__item {
    @include flex;
    
}

.menu .menu__nav:not(:last-child) {
    margin-right: 50px;
}

.header__nav .logo {
    margin-right: 93px;
}

.contact__svg {
    margin-right: 10px;
    
    fill: var(--second-text-color);
}

.menu__open{
    width: 40px;
    height: 40px;
    background:transparent;
    border: none;
    margin-top: 12px;
    margin-bottom: auto;
    margin-right: 10px;
    padding: 0;
    @media screen and (min-width:768px) {
        display: none;
    }
    
}

/*.menu__open:focus,
.menu__open:hover{
    fill: var(--accent-color);
}*/
 
.mob-menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    padding-top: 48px;
    padding-left: 40px;
    padding-bottom: 48px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: #ECECEC;
    @media screen and (min-width:768px) {
        display: none;
    }
        
                transition: opacity 300ms linear,
                visibility 300ms linear;
}

.mob-menu-list{
    padding: 0;
    list-style-type: none;
}

.mob-menu-item:not(:last-child){
    margin-bottom: 32px; 
}


.mob-link-nav{
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47/42);
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

.mob-link-nav:focus,
.mob-link-nav:hover{
    color: var(--accent-color);
}

.mob-list-nav{
    margin-top: 33px;
    list-style-type: none;
}


.mob-link-number{
    
    font-weight: 500;
    font-size: 34px;
    line-height: calc(40/34);
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.mob-list-email{
    margin-top: 32px;
}

.mob-link-email{
    
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28/24);
    letter-spacing: 0.02em;    
    color: var(--main-color);
}

.mob-soc-list{
    display: flex;
    gap: 20px;
    margin-top: 64px;
}

.mob-soc-item{
    list-style-type: none;
    
}

.mob-soc-link{
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22/18);
    letter-spacing: 0.02em;
    color: var(--accent-color);
    
}

.button-close-mob{
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 40px;
    top: 22px;
    right: 26px;
    border: none;
    background-color: transparent;
}

.mob-menu-close{
    fill: var(--second-text-color);
}

.mob-menu-close:focus,
.mob-menu-close:hover{
    fill: var(--accent-color);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
