.header {
    background-color: var(--main-bg);
    border-bottom: 1px solid #ECECEC;
}

.header__nav {
    align-self: center;
}



.link {
    text-decoration: none;
    list-style-type: none;
}

.menu__item {
    padding-top: 32px;
    padding-bottom: 32px;
    @include font(14px, 1.14, 500, 0.02em);
    color: var(--second-text-color);
    transition: color var(--trans-dur) var(--transition-timing-function);
    position: relative;
    &:hover,
    &:focus {
        color: var(--accent-color)
    }
}



.menu__item.current {
    color: var(--accent-color);
}

.current::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: currentColor;
    border-radius: 2px;
    bottom: 0;
}

.header__contact {
    display: flex;
    justify-content: space-between;
}

.header__nav {
    display: flex;
}

.menu {
    @include flex;
}

.contact {
    @include flex;
}

.contact__link {
    @include flex;
    padding-top: 32px;
    padding-bottom: 32px;
    @include font(14px, 1.14, 500, 0.02em);
    color: var(--main-color);
    text-decoration: none;
    transition: color var(--trans-dur) var(--transition-timing-function);
        
    &:hover,
    &:focus {
        color: var(--accent-color);
        fill: currentColor;
    }
}

.contact__item {
    @include flex;
}

.contact .contact__item:not(:last-child) {
    margin-right: 50px;
}

.menu .menu__nav:not(:last-child) {
    margin-right: 50px;
}

.header__nav .logo {
    margin-right: 93px;
}

/*.contactt {
    padding-top: 32px;
    padding-bottom: 32px;
    @include font(14px, 1.14, 500, 0.02em);
    color: var(--main-color);
    text-decoration: none;
    transition: color var(--trans-dur) var(--transition-timing-function);
    &:hover,
    &:focus {
        color: var(--accent-color);
        fill: currentColor;
    }
}*/

.contact__svg {
    margin-right: 10px;
    fill: currentColor;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}