.logo {
    @include font(26px, 1.19, 700, 0.03em);
    font-family: 'Raleway';
}


.logo__web {
    color: var(--accent-color);
}


.logo--color-light{
    color: #ffff;
}

.logo--color-dark{
    color: #000000;
}